* {

	margin:0;
	padding:0;
	box-sizing:border-box;
}

.cardHighlights {
	min-height: 100%;
}

.jumbotronBanner{
	min-height: 80vh;
	min-width: 100%;
	/*background-color: rgba(73, 182, 218, 0.5);*/
	background-color: transparent;
	color: white;
}

.banner {
  min-height: 80vh;
  /*padding: 0 0.5rem;*/
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.Title{
	font-size: 50px;
}
.Label{
	font-size: 20px;
}


body {
	background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url(./assets/bgpic2.jpg);
	background-size: cover;
	background-position: 
}

/*login/register page*/
.loginregForm{
  	color:white;
  	margin-bottom: 100px;
}

.loginregPage{
	/*margin-top: 50px;*/
	/*background-color: rgba(73, 182, 218, 0.5);*/
	display: flex;
	flex-direction: row;
	justify-content: center;
  	align-items: center;

}

/*category page*/
.categoryPage{
	margin-bottom: 100px;
  /*min-height: 90vh;*/
  /*display: flex;*/
  /*flex-direction: row;*/
  /*justify-content: center;*/
  /*align-items: center;*/
}

/*transaction page*/
.transactionPage{
	background-color: transparent;
	min-width: 100%;
	
}

.test{
	margin-bottom: 100px;
}
.chart{
 margin-bottom: 250px;
 margin-top: 150px;

}
